<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= t("subheader.trainer") %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav subheader_in_navbar">
        <li class="active"><a href="#"><%= t("subheader.curriculum") %> <span class="sr-only">(current)</span></a></li>
        <li><a href="#"><%= t("subheader.info") %> </a></li>
        <li><a href="#"><%= t("subheader.coaching") %> </a></li>
        <li><a href="aboutus"><%= t("subheader.about") %> </a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group blackbgwhitecolor">
            <span class="glyphicon glyphicon-search margin_25" aria-hidden="true"></span>
            <input type="text" class="form-control paddingleft25" placeholder= "what can i search :o)">
          </div>
        </form>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Language<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "English", languages_path(lang: "en"), method: :post %></li>
            <li><%=  link_to "中文", languages_path(lang: "zh-HK"), method: :post %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>